@media only screen and (min-width:850px) and (max-width: 1000px) {
    body , h3 , div , ul  {
      max-width:100%;
    }
  
    .profile-image{
        width: 70%;
        margin-right: 25px;
        float:right;
        margin-bottom: 30px;
        
        
    }
    .Main-right{
      border:rgb(172, 170, 170);
      border-width:3px ;
      border-style: solid;
    
      width: 25%;
      border-radius: 30px;
      background-image: linear-gradient(to bottom left, rgb(198, 240, 176 ) , #EAFCE0  , #EAFCE0   , #EAFCE0, rgb(198, 240, 176 ) );
      margin-right: 50px;
      margin-top: 5px;
    }
    .right-mobile{
      padding-left: 0;
      margin-left:0;
    }
    
    .containers{
        padding-bottom:250px;
    }
    .containerss{
        padding-bottom:30px;
        padding-top:20px;
    }
    
    .student-info-link{
      background-color: none !important;
      margin-right: 50px;
      float:right;
      font-size: 25px;
      font-weight: bold;
      font-family:'Lateef', serif !important;
    }

    .hovers:hover{
      background-image: linear-gradient(to bottom left, rgb(198, 240, 176 ), rgb(198, 240, 176 ) , #EAFCE0 , rgb(198, 240, 176 )  , rgb(198, 240, 176 ) );
      color: green;
      cursor: pointer;
      font-size: 30px;
      font-weight: bold;
      font-family:'Lateef', serif !important;
    }
    .student-info{
        width:300px;
        padding-left: 10px;
        margin-bottom: 0;
        margin-top: 100px;
        display: none;
    }
    
    .info{
      width:65%;
      float: left;
      margin-left: 3%;
      border-radius: 40px;
      border:rgb(172, 170, 170);
      border-width:3px ;
      border-style: solid;
    }
    .show{
        display:block !important;
    }
    
    .line{
        border-top:black;
        border-block-end-style: solid;
        float:right;
        width:250px;
        margin-right: 30px;
        margin-top:-30px;
        border-block-end-width: 1px;
    }
  
    .float-right{
      margin-left:50px;
      width:300px;
      text-align: right;
    float:right;
    margin-bottom: 0;
  }
  .flexs{
    display:flex;
    text-align: right;
    margin-right:-15px;
    height: 30px;
    margin-top:40px;
    margin-bottom:-40px;
  
  }
  
  .current{
    width: 140px;
    margin:0;
    padding-top: -10px;
    padding-left: 0;
    font-size: 15px !important;
    font-family: 'Tajawal' !important;
  }
  
  .txt{
    margin-right: 200px; 
    font-size: 15px;
    text-align: center;
  }

  .slider-position{
    margin-top: -300px ; 
    width:700px;
    float:right;
  }
  
  .size{
    height: 500px;
    margin-top: 0px;
  }
  .complete-input{
    width:140px !important;
  }

  
  
  .wid{
    max-width: 95%;
    text-align: left;
  }
  
  
  .pd-f{
    margin-top: 0px !important;
    padding-left:50px;
  }
  
  .resize{
    width:360px !important;
    right:20px !important;
  }
  
  .rearrange {
    margin-left:50px !important;
  }

  .addbtndiv{
    text-align: right;
    margin: 20px 150px;
  }

  .logo{
      padding: 10px !important;
      margin: 0 !important;
  }
  .mrl{
    margin-left:0;
  }

  }